:root{
  --black : #000;
  --white:#fff;
  --primary:#ec2d9e;
  --head-color:#bbb;
}

a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1380px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  width: 100%;
}
body{
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
/* navbar */
.navbar{
  padding: 15px;
}
.logo-img img{
  width: 100px;
}
.navbar-nav .nav-item a{
  font-size: 16px;
  font-weight: 700;
  color: var(--black) !important;
}
.navbar .profile i{
  font-size: 25px;
  border: 1px solid var(--black);
  color: var(--primary);
  border-radius: 50%;
  padding: 10px 12px;
}


/* admin */

.manage .container{
  max-width: 1000px;
  margin: 0 auto;
}
.manage{
  margin-top: 80px;
}
.manage .table td{
  padding: 20px 0;
}
.model-data{
  margin-top: 100px;
}
.model-data .container{
  max-width: 1000px;
  margin: 0 auto;
}
.model-data .btn-data{
  background-color: var(--primary);
  color: var(--white);
  font-size: 18px;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
}
.table-dataa th{
  font-size: 19px;
  font-weight: 600;
}
.table-dataa td{
  font-size: 17px;
  font-weight: 500;
  vertical-align: middle;
}
.table-dataa .table-btn{
  font-size: 19px;
  font-weight: 500;
  background-color: transparent;
  color: var(--primary);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.model-data .btn{
  padding: 8px 20px;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  color: var(--white);
  font-weight: 500;
}
.manage img{
  width: 50px;
}

/* model */

.update_model{
  width: 400px;
  padding: 30px;
  background-color: var(--white);
  box-shadow: 0px 3px 10px rgb(170, 170, 170);
  position: fixed;
  top: 30px;
  left: 35%;
}
.update_model label{
  display: block;
  margin: 10px 0;
}
.update_model .closebtn{
  background-color: transparent;
}

/* banner */
.banner{
  margin-top: 50px;
  position: relative;
}
.banner .banner-img img{
  /* height: 500px; */
  width: 300px;
}
.banner .banner-imgg{
  height: 700px;
}
.data-card{
  position: absolute;
  top: 40%;
  left: 35%;
  max-width: 400px;
  padding: 50px;
  background-color: var(--white);
}
.data-card h1{
  font-weight: 900;
}
.data-card p{
  font-size: 14px;
}

.data-card .shop-btn{
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--black);
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
}
/* product-page */
.head-pro{
  margin-top: 80px;
}
.product-data h1{
  font-size: 30px;
  color: var(--head-color);
  text-align: center;
}
.product-data h2{
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}
.product-details .detail p{
  font-size: 15px;
  font-weight: 500;
}
.product-details .detail span{
  font-size: 14px;
  color: #555555;
}