:root{
  --black : #000;
  --white:#fff;
  --primary:#ec2d9e;
  --head-color:#bbb;
}

a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1380px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  width: 100%;
}
body{
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
/* navbar */
.navbar{
  background-color: #f1f1f1;
  padding: 15px;
}
.logo-img img{
  width: 100px;
}
.navbar-nav .nav-item a{
  font-size: 16px;
  font-weight: 700;
  color: var(--black) !important;
}
.navbar .profile i{
  font-size: 25px;
  border: 1px solid var(--black);
  color: var(--primary);
  border-radius: 50%;
  padding: 10px 12px;
}


/* admin */

.manage .container{
  max-width: 1000px;
  margin: 0 auto;
}
.manage{
  margin-top: 80px;
}
.manage .table td{
  padding: 20px 0;
}
.model-data{
  margin-top: 100px;
}
.model-data .container{
  max-width: 1000px;
  margin: 0 auto;
}
.model-data .btn-data{
  background-color: var(--primary);
  color: var(--white);
  font-size: 18px;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
}
.table-dataa th{
  font-size: 19px;
  font-weight: 600;
}
.table-dataa td{
  font-size: 17px;
  font-weight: 500;
}
.table-dataa .table-btn{
  font-size: 19px;
  font-weight: 500;
  background-color: transparent;
  color: var(--primary);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}